<p>
  <b>Name:</b>
  <%=h @belonging.name %>
</p>

<%= link_to_name @belonging.storage_unit %><br>
<%= link_to 'I want to use this more', list_items_path(:list_item => {:list_id => List.find_by_user_id_and_name(current_user.id, 'Things I want to use more'), :belonging_id => @belonging}), :method => :post %><br>
<%= link_to 'I want to use this on this weekend', list_items_path(:list_item => {:list_id => List.find_by_user_id_and_name(current_user.id, 'Things I want to use this weekend'), :belonging_id => @belonging}), :method => :post %>

<p>
  <b>Description:</b>
  <%=h @belonging.description %>
</p>

<p>
  <b>Purchased at:</b>
  <%=h @belonging.purchased_at %>
</p>

<p>
  <b>Price:</b>
  <%=h @belonging.price %>
</p>

<p>
  <b>Weight:</b>
  <%=h @belonging.weight %>
</p>

<p>
  <b>Height:</b>
  <%=h @belonging.height %>
</p>

<p>
  <b>Length:</b>
  <%=h @belonging.length %>
</p>

<p>
  <b>Width:</b>
  <%=h @belonging.width %>
</p>

<p>
  <b>User:</b>
  <%=h @belonging.user.andand.login %>
</p>


<%= link_to 'Edit', edit_belonging_path(@belonging) %> |
<%= link_to 'Back', belongings_path %>