<h1>Listing placements</h1>

<table>
  <tr>
    <th>Room</th>
    <th>Belonging</th>
    <th>Current</th>
  </tr>

<% @placements.each do |placement| %>
  <tr>
    <td><%= link_to_name placement.room %></td>
    <td><%= link_to_name placement.belonging %></td>
    <td><%=h placement.current %></td>
    <td><%= link_to 'Show', placement %></td>
    <td><%= link_to 'Edit', edit_placement_path(placement) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New placement', new_placement_path %>