<h1>request friendship</h1>

<% form_for(@friendship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :friend_id %><br />
    <%= f.select :friend_id, User.map_name_and_id %>
  </p>
  <p>
    <%= f.submit 'request' %>
  </p>
<% end %>

<%= link_to 'Back', friendships_path %>