<p>
  <b>User:</b>
  <%= link_to_name @friendship.user %>
</p>

<p>
  <b>Friend:</b>
  <%= link_to_name @friendship.friend %>
</p>

<p>
  <b>Status:</b>
  <%=h @friendship.status %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>