<h1>Listing storages</h1>

<table>
  <tr>
    <th>Storage unit</th>
    <th>Belonging</th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%= link_to_name storage.storage_unit %></td>
    <td><%= link_to_name storage.belonging %></td>
    <td><%= link_to 'Show', storage %></td>
    <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New storage', new_storage_path %>