<h1>Listing buildings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Street</th>
    <th>Floors</th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%=h building.name %></td>
    <td><%=h building.address %></td>
    <td><%=h building.street_id %></td>
    <td><%=h building.floors %></td>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New building', new_building_path %>