<p>
  <b>Name:</b>
  <%=h @building.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @building.address %>
</p>

<p>
  <b>Street:</b>
  <%=h @building.street_id %>
</p>

<p>
  <b>Floors:</b>
  <%=h @building.floors %>
</p>

<% @building.rooms.each do |r| %>
  <%= link_to r.name, r %><br>
<% end %>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>