<html>
<head>
	<%= stylesheet_link_tag 'b' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
	<div class='nav'>
	  <%= ['users', 'rooms', 'belongings', 'buildings', 'placements', 'storage_units', 'storages', 'lists', 'list_items'].map { |r| link_to r, '/' + r } %>
	</div>
	<div class='login'>
	<%= login_stuff %>
	</div>
	<%= yield %>
</body>
</html>